# SC4SNMP compose env file
SC4SNMP_IMAGE={{SC4SNMP_IMAGE}}
REDIS_IMAGE=docker.io/redis
REDIS_TAG=8.2.2
MONGO_IMAGE=docker.io/bitnamilegacy/mongodb
MONGO_TAG=7.0.14-debian-12-r3
MIBSERVER_IMAGE=ghcr.io/pysnmp/mibs/container
MIBSERVER_TAG=latest
CONFIG_PATH=/app/config/config.yaml
REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
MONGO_URI=mongodb://mongo:27017/
MIB_SOURCES=http://snmp-mibserver:8000/asn1/@mib@
MIB_INDEX=http://snmp-mibserver:8000/index.csv
MIB_STANDARD=http://snmp-mibserver:8000/standard.txt
SPLUNK_HEC_PROTOCOL={{SPLUNK_HEC_PROTOCOL}}
SPLUNK_HEC_SCHEME={{SPLUNK_HEC_PROTOCOL}}
SPLUNK_HEC_HOST={{SPLUNK_HEC_HOST}}
SPLUNK_HEC_PORT={{SPLUNK_HEC_PORT}}
SPLUNK_HEC_PATH={{SPLUNK_HEC_PATH}}
SPLUNK_HEC_TOKEN_FILE=/app/secrets/tmp/hec_token
SPLUNK_HEC_INSECURESSL={{SPLUNK_HEC_INSECURESSL}}
SPLUNK_SOURCETYPE_TRAPS=sc4snmp:traps
SPLUNK_SOURCETYPE_POLLING_EVENTS=sc4snmp:event
SPLUNK_SOURCETYPE_POLLING_METRICS=sc4snmp:metric
SPLUNK_HEC_INDEX_EVENTS=netops
SPLUNK_HEC_INDEX_METRICS=netmetrics
SPLUNK_LOG_INDEX=em_logs
SPLUNK_CONNECTOR_METRICS_INDEX=em_metrics
TRAPS_PORT={{TRAPS_PORT}}
DNS_SERVER={{DNS_SERVER}}
INVENTORY_FILE_ABSOLUTE_PATH=/app/inventory/inventory.csv
SCHEDULER_CONFIG_FILE_ABSOLUTE_PATH=/app/config/config.yaml
TRAPS_CONFIG_FILE_ABSOLUTE_PATH=/app/config/config.yaml
SECRET_FOLDER_PATH=/app/secrets/tmp
LOCAL_MIBS_PATH=/app/new_mibs/src/vendor
